.categories_container{
    display: grid;
    grid-template-columns: 79vw 19vw;
}
.allrecipes{
    margin: 0 2vw;
}
.category{
height: 40vh;}


.sidebar_menu{
    margin-top: 4vh;
}
.keyword_search{
    margin-left: 1.5vw;
}

.sidebar_menu input{
    border-radius: 15px;
    border: none;
    outline:none;
    padding: 1vh 1.5vh;
}

.sidebar_menu p{
    padding-left:0.5vh;
}
.vr{
    position: absolute;
    display: block;
    border-left: 4px solid rgba(255, 255, 255, 0.42);
    height: 100%;
    width: 1px;
    margin: 0;
    
}
