.categories_container{
    display: grid;
    grid-template-columns: 79vw 20vw;
    color: white;
}
.allrecipes{
    margin: 0 2.5vw;
}
.category{
    color: rgb(255, 43, 114);
height: 40vh;}


.sidebar_menu{
    padding-top: 4vh;
    background-color: #F43D88;
    position: fixed;
    height: 100%;
    right: 0;
}
.keyword_search{
    margin-left: 1.5vw;
}
.keyword_search p{
    color: white;
}
.keyword_search div{
    display: flex;
}
.search_bar{
    border-radius: 15px;
    border: none;
    outline:none;
    padding: 1vh 1.5vh;
    margin-right: 0;
}

.sidebar_menu ul li{
    text-decoration: none;
    text-decoration-style: none;
    list-style-type: circle;
    color: rgb(255, 236, 205); 
    margin-left: 0;
    transform: translateX(-3vh);
    padding-bottom: 0.6vh;
    text-decoration-line:underline;
    text-underline-offset: 0.45vh;
    text-decoration-thickness: 0.6px;
    text-decoration-color: rgba(255, 255, 255, 0.46);
    
}
.search_button{
    background-color: transparent;
    color: rgb(255, 236, 205);
    border: none;
    font-size: large;
    margin-top: 0.3vh;
}

