.community_page{
    display: flex;
    margin-top: 5vh;
}
.trending{
    padding: 0 4vh;
}
.thoughts{
    padding: 0 4vh;
    border:2px solid blanchedalmond;
    margin-left: 5vw;
}
.thoughts_box p{
    background-color: blanchedalmond;
    padding: 2vh;
}
.share_thoughts_textbox {
    display: block;
}

.share_thoughts_textbox input{
    height:10vh;
    width: 30%;

}
