@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Poppins:ital,wght@0,300;1,300&display=swap');

.landing_page{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    color: rgb(255, 43, 114);
    font-size:xx-large;
    width: 100vw;
  }
  .tagline{
    margin-left: 2vw;
    height: 90vh;
  }

  .search_recipe{
    display: flex;
  }

  .search_recipe button{
    background-color: transparent;
    border: none;
    font-size:x-large;
    color: white;
  }
  .tagline .search_bar{
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 1.5vh;
    color: black;
    border: none;
  }
  
  .specials {
    padding-left: 5vw;
    padding-top: 2vh;
    display: flex;
    align-items: center;
    position: relative;
    width: 100vw;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(255, 225, 177);
  }
  .daily_specials_textarea {
    padding-bottom: 80px;
    color: rgb(255, 43, 114);
  }
  .daily_specials_textarea h1{
    font-family:'Long Cang',cursive;
    font-size: 100px
  }
  .daily_specials_textarea a {
    font-size:medium;
    color:whitesmoke;
    background-color:#083d25;
    border-style:none;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 30px;
    letter-spacing: 1px;
    margin-top: 1em;
    cursor:pointer;
  }
  .random_recipe_items {
    width: 100vw;
    align-items: center;
    padding-left: 12%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 0;
  }
 
  .random_recipe_items img {
    border-radius: 20px;
    width: 220px;
    height: 220px;
    position: relative;
    display:block;
  }

  .random_recipe_items h2 {
    width: 230px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-align: center;
    position: relative;
  }
.tagline div{
  display: flex;
}
.animation img{
  position: absolute;
  z-index: -900;
  height: 95vh;
  width: 100%;
  transform: translateX(-35.5vw);
  /* transform: translateY(-10vh); */
  overflow: hidden;

}