@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Poppins:ital,wght@0,300;1,300&display=swap');

.landing_page{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    color: rgb(255, 43, 114);
    font-size:xx-large;
    width: 100vw;
  }
  .tagline{
    margin-left: 2vw;
    height: 90vh;
  }

  .search_recipe{
    display: flex;
  }

  .search_recipe button{
    background-color: transparent;
    border: none;
    font-size:x-large;
    color: antiquewhite;
  }
  .tagline .search_bar{
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 1.5vh;
    color: black;
    border: none;
  }
  
  .specials {
    padding-left: 5vw;
    padding-top: 2vh;
    display: flex;
    align-items: center;
    position: relative;
    width: 100vw;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(255, 225, 177);
    height: 90vh;
    overflow: hidden;
  }
  .daily_specials_textarea {
    /* padding-bottom: 80px; */
    color: rgb(255, 43, 114);
  }
  .daily_specials_textarea h1{
    font-family:'Long Cang',cursive;
    font-size: 100px;
    margin:0;
  }
  .daily_specials_textarea a {
    font-size:medium;
    color:whitesmoke;
    background-color:#083d25;
    border-style:none;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 30px;
    letter-spacing: 1px;
    margin-top: 4em;
    cursor:pointer;
    margin-bottom: 4em;
  }
  .random_recipe_items {
    width: 100vw;
    align-items: center;
    padding-left: 12%;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 0;
    margin-top:2.5vh ;
  }
 
  .random_recipe_items img {
    border-radius: 20px;
    width: 210px;
    height: 210px;
    position: relative;
    display:block;
    cursor: pointer;
  }

  .random_recipe_items h2 {
    width: 210px;
    /* padding-top: 5px; */
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    height: 2em;
    padding-bottom: 2vh;
  }
.tagline div{
  display: flex;
}
.animation img{
  position: absolute;
  z-index: -900;
  height: 95vh;
  transform: translate(-18vw,-5vh);
  overflow: hidden;
}

.backdrop{
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.702);
  backdrop-filter: blur(8px);
  z-index: 999; 
}