.header{
    background-color: rgb(255, 225, 177);
    display: flex;
    justify-content:space-between;
    padding-left: 2vw;
    height: 10vmin;
    color: rgb(255, 43, 114);

}

.pages ul{
    display: flex;
    list-style: none;
}

.pages ul li .page-items{
text-decoration: none;
color: black;
letter-spacing: 2px;
padding-right: 2vw;
cursor: pointer;
font-size:medium;
}

