.details{
    display: flex;
    padding-left: 2vw;
    padding-top: 5vh;
    position: absolute;
    border-radius: 20px;
    top: 45vh;
    width: 80%;
    height: 80%;
    transform: translate(8%, -36%);
    z-index: 9999; /* Set a high z-index value to ensure the modal appears on top */
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ingredients_and_instructions{
    margin-left: 2vw;
overflow-y: scroll;}
/* .ingredients_and_instructions h2, hr{
    margin-left: 2vw;
} */

.recipe_primary_details div{
    margin-left: 2vw;
}
.recipe_primary_details img{
    border-radius: 15px;
}
.recipe_primary_details div h2{
    margin: 0;
    padding: 0;
}