.details{
    display: flex;
    padding-left: 2vw;
    padding-top: 5vh;
    position: absolute;
    border-radius: 20px;
    top: 42.5vh;
    width: 80%;
    height: 80%;
    transform: translate(8%, -36%);
    z-index: 9999; /* Set a high z-index value to ensure the modal appears on top */
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.ingredients_and_instructions{
    margin-left: 2vw;
    overflow-y: scroll;
color: black;}

.ingredients_and_instructions h2, hr{
    background-color: white;
    margin-left: 0 ;
    margin-right: 0;
    color: rgb(255, 43, 114);
}

.recipe_primary_details img{
    border-radius: 15px;
}
/* .recipe_primary_details div h2{
    margin: 0;
    padding: 0;
} */
.recipe_primary_details .closemodal{
    transform: translateX(76vw);
    background-color: rgb(214, 56, 56);
    color: white;
    font-weight:bold;
    border: none;
    padding: 1vh 1.5vh;
    border-radius: 6px;
    position: absolute;
}
.recipe_primary_details div{
    display: flex;
    margin-top: 1.5vh;
}
.icons{
    font-size: x-large;
}
.recipe_primary_details p{
    background-color: #094027;
    color: aliceblue;
    border-radius: 8px;
    padding:1.5vh 1.5vh;
    margin: 0 1vh;
    margin-bottom: 0.5vh;
    align-items: center;
    text-align: center;
}
.recipe_primary_details .save_button{
    margin: 1vh 2vh;
    width: 90%;
    text-align: center;
    background-color: rgb(255, 43, 114);
    color: white;
    border-radius: 10px;
    padding: 0.8vh 0.5vh;
}