.results_page{
    margin: 0 2vw;
   
}
.results{
    width: 88%;
    display: grid;
    grid-template-columns: auto auto auto auto;

}
.search_slide{
    scroll-behavior: smooth;
    background-color: white;
     border-radius: 15px;
    padding: 1.5vh;
     font-family: 'Poppins';
     max-width: 80%;
    height: 40vh; 
    margin: 0;
    margin-bottom: 3.5vh;
  
    cursor: pointer;

}
.search_slide p{
    /* width: 95%; */
    color:black;
    font-size:medium;
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    
}

.search_slide img{
    height: 28vh;
    width: 100%;
    border-radius: 20px;
}

a{
    text-decoration: none;
}

.backdrop{
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 66, 0.702); 
    backdrop-filter: blur(8px);
    z-index: 999; 
}