@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Marcellus&family=Oleo+Script&family=Poppins:wght@300;400&display=swap');

body{
  box-sizing: border-box;
  top: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family:'Poppins', sans-serif;
  /* background-image: radial-gradient(circle,rgb(255, 147, 187),rgb(227, 142, 250),rgb(147, 242, 242)); */
  /* background-color:#ebd874; */
  background-color: #083d25;
  /* background-size:200vh; */
}

section{
  height: 100vh;
  /* padding:0 5vw; */
  top: 0;
}


