@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Marcellus&family=Oleo+Script&family=Poppins:wght@300;400&display=swap');

body{
  box-sizing: border-box;
  top: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family:'Poppins', sans-serif;
  /* background-image: radial-gradient(circle,rgb(255, 147, 187),rgb(227, 142, 250),rgb(147, 242, 242)); */
  /* background-color:#ebd874; */
  background-color: #F05D03;
  background-size:200vh;
}

section{
  height: 100vh;
  padding:0 5vw;
  top: 0;
}


.landing_page{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E6E02B;
  font-size:xx-large;
}

.search_and_random{
  background-color: #ffeaa9;
  padding: 10vh;
}
.search_bar{
  display: flex;
  justify-content: center;
}

.random_dishes{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
