.login_page_background{
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
    top: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding:10vh 12vh;
    width: 30vw;
    /* display: block; */

}
.login_page_background h2{
    color: white;
}

.login_page_background input{
    padding: 2vh;
    font-size: 1em;
    margin-bottom: 3vh;
    background-color: rgba(255, 255, 255, 0.895);
    border: 1px solid white;
    border-radius: 10px;
}
.login_page_background button{
    background-color:rgb(255, 43, 114);
    color: white;
    padding: 2vh;
    border: 1px solid white;
    border-radius: 10px;
}

