.login_page-background{
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
    top: 0;
    margin: 0;
    /* background-image: radial-gradient(circle,rgb(255, 147, 187),rgb(227, 142, 250),rgb(147, 242, 242)); */
    background-size:200vh;
    scroll-behavior: smooth;
    color: white;
    /* display: block; */

}
.login_page_background h2{
    color: white;
}

.login_page_background input{
    padding: 2vh;
    font-size: 1em;
    margin-bottom: 3vh;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}
.login_page_background button{
    background-color:rgb(255, 43, 114);
    color: white;
    padding: 2vh;
    border: 1px solid white;
    border-radius: 10px;
}

